@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

.process-main {
  width: 100%;

  .process-container {
    width: 100%;
    margin-top: 20px;

    .process-header {
      width: 100%;
      display: flex;

      .header-content {
        width: 60%;
        height: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin: 20px 30px;
        margin-left: 160px;

        .header-title {
          font-size: 38px;
          font-weight: 800;
          font-family: 'Martel', sans-serif;
        }

        .sub-title {
          font-size: 15px;
          font-weight: 400;
          color: #999;
          letter-spacing: 0.5px;
        }
      }

      .header-image {
        width: 40%;

        .img-header {
          width: 250px;
          height: 250px;
        }
      }
    }
    //process BODY start here
    .process-body {
      width: 80%;
      margin: 20px auto;
      margin-left: 180px;
      margin-right: 180px;

      //step one styling
      .process-one {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px auto;

        .body-header {
          width: 100%;
          display: flex;
          align-items: center;

          .icon {
            width: 30px;
            height: 30px;
            background-color: #aa7af0;
            border-radius: 50%;
            margin-right: 20px;
            box-shadow: 2px 2px 8px 0px rgba(153, 153, 153, 0.47);

            .icon-title {
              width: 30px;
              height: 30px;
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
              font-weight: 500;
            }
          }

          .body-title {
            font-size: 18px;
            font-weight: 500;
            color: #999;
            margin-right: 20px;
            font-family: 'Inter', sans-serif;
          }
        }
        .process-types {
          display: flex;
          width: 100%;
          margin: 20px 40px 5px;
        }
      }

      .process-two {
        width: 100%;
        display: flex;
        margin: 20px auto;
        flex-wrap: wrap;

        .body-header {
          width: 100%;
          display: flex;
          align-items: center;

          .icon {
            width: 30px;
            height: 30px;
            background-color: #aa7af0;
            border-radius: 50%;
            margin-right: 20px;
            box-shadow: 2px 2px 8px 0px rgba(153, 153, 153, 0.47);

            .icon-title {
              width: 30px;
              height: 30px;
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
              font-weight: 500;
            }
          }
          .body-title {
            font-size: 18px;
            font-weight: 500;
            color: #999;
            margin-right: 20px;
            font-family: 'Inter', sans-serif;
          }
        }
        .process-form {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 20px 40px 5px;

          .report-main {
            width: 80%;
            margin: 10px 0px 15px;
          }
          .report-description {
            width: 80%;
            margin: 10px 0px 15px;
          }
          .btn-upload {
            width: 80%;
            margin: 5px 0px 0px;
            
          }
        }
      }

      .process-three {
        width: 100%;
        display: flex;
        margin: 20px auto;
        flex-wrap: wrap;

        .body-header {
          width: 100%;
          display: flex;
          align-items: center;

          .icon {
            width: 30px;
            height: 30px;
            background-color: #aa7af0;
            border-radius: 50%;
            margin-right: 20px;
            box-shadow: 2px 2px 8px 0px rgba(153, 153, 153, 0.47);
            .icon-title {
              width: 30px;
              height: 30px;
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              color: #fff;
              font-weight: 500;
            }
          }

          .body-title {
            font-size: 18px;
            font-weight: 500;
            color: #999;
            margin-right: 20px;
            font-family: 'Inter', sans-serif;
          }
        }
        .process-review {
          width: 100%;
          margin: 20px 40px;
        }
      }
    }
  }
}
