.evalgrid-main {
  display: flex;
  width: calc(100% - 230px);
  margin-left: 230px;
  height: 100%;

  .evalgrid-wrapper {
    flex: 6;

    .evalgrid-header {
      display: flex;
      align-items: center;

      .evalgrid-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 55px 0px 55px;

        .title {
          font-size: 26px;
          font-weight: 600;
        }

        .evalreg-btn {
          background-color: #893dff;
          text-transform: capitalize;
          box-shadow: rgb(137 61 255 / 34%) 0px 8px 16px 0px;
        }
      }
    }
    .evalgrid-functions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .modal {
        z-index: 999;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
      }
      .overlay {
        background: rgba(49, 49, 49, 0.8);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
      }
      .modal-content {
        position: absolute;
        z-index: 999;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: #f1f1f1;
        padding: 14px 28px;
        border-radius: 8px;
        width: 600px;
        height: 400px;

        .content-title {
          padding: 20px;
          font-weight: 500;
        }

        .btn-container {
          width: 100%;
          margin: 10px auto;
          display: flex;
          justify-content: flex-end;

          .btn_submit {
            outline: none;
            border: none;
            padding: 6px 12px;
            border-radius: 3px;
            color: white;
            background-color: #893dff;
            cursor: pointer;
          }

          .btn_cancel {
            outline: none;
            border: none;
            padding: 6px 12px;
            background-color: transparent;
            color: #aa7af0;
            cursor: pointer;

            &:hover {
              color: crimson;
              font-weight: 500;
            }
          }
        }
      }
      .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 22px;
      }
    }
  }

  .card-container {
    width: 90%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
