.list-main {
  display: flex;
  width: calc(100% - 230px);
  margin-left: 230px;
  height: 100%;

  .list-wrapper {
    flex: 6;

    .list-header{
      width: 50%;
      margin: 20px 0px 0px 55px;
      .list-title {
        font-weight: 600;
        font-size: 26px;
      }
    }
  }
}