.accSettings-wrapper {
  width: 100%;
  height: 100vh;

  .accSettings-header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #aa7af0;

    .accSettings-title {
      font-size: 32px;
      font-weight: 600;
      margin-left: 80px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: -8px;
    }
  }
  //left content here
  .accSettings-content__wrapper {
    width: 80%;
    height: 680px;
    margin: -30px auto 0;
    margin-bottom: 100px;
    display: flex;
    box-shadow: 0 0 10px 2px #999;

    .accSettings-content__left {
      width: 100%;
      height: 100%;
      background-color: #fff;

      .accSettings-left__displayPic {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 30px 0 25px 50px;

        .accSettings-left_picture {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 2px solid #fff;
          margin-right: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        .header-content {
          width: 80%;
          display: flex;
          flex-direction: row;
          align-items: center;

          .header-details {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .accSettings-left__userName {
              font-size: 22px;
              font-weight: 500;
              margin-top: 20px;
              margin-bottom: -10px;
            }

            .sub-heading {
              font-size: 14px;
              font-weight: 400;
              margin-top: 10px;
            }
          }
          .header-buttons {
            width: 350px;
            display: flex;
            flex-direction: row;
            padding: 20px;
            justify-content: flex-end;

            .accSettings-left__cancel {
              outline: none;
              border: none;
              background-color: transparent;
              font-family: 'Poppins';
              margin-right: 10px;

              &:hover {
                cursor: pointer;
                color: crimson;
                font-weight: 500;
              }
            }

            .accSettings-left__update {
              outline: none;
              border: none;
              background-color: #893dff;
              color: white;
              padding: 7px 18px;
              border-radius: 10px;

              &:hover {
                cursor: pointer;
                background-color: #6f1dff;
                font-weight: 500;
              }
            }
          }
        }
      }
      //items start here
      .accSettings-left__details {
        display: flex;
        flex-direction: column;
        width: 100%;

        .accSettings-left__details-item {
          display: flex;
          width: 100%;
          padding: 15px 25px;
          margin: 10px 40px;

          .accSettings-left__details-item-wrapper {
            display: flex;
            align-items: center;
            width: 200px;

            .details-item__title {
              font-size: 14px;
              font-weight: 400;
            }
          }

          .accSettings-left__input-item-wrapper {
            width: 700px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            &.input-email {
              margin-left: -138px;
            }
            &.input-pass{
              margin-left: -25px;
            }

            .deact-btn {
              outline: none;
              border: none;
              background-color: transparent;
              color: crimson;
              font-family: 'Poppins';
              margin-left: -565px;
              padding: 7px 18px;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.2s ease-in;

              &:hover {
                background-color: crimson;
                color: white;
                font-weight: 500;
              }
            }
          }
        }
        .content-divider {
          display: flex;
          width: 80%;
          margin: auto;
          height: 1px;
          background-color: #999;
        }
      }
    }
  }
}
