.setting-main {
  display: flex;
  width: calc(100% - 230px);
  margin-left: 230px;
  height: 100%;

  .setting-container {
    flex: 6;
    .setting-content {
      margin-top: 5px;

      .content-wrapper {
        width: 100%;
        
        .content-title{
          margin-top: 20px;
          padding: 20px 75px;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
  }
}