.student-main {
  display: flex;
  width: 100%;

  .student-container {
    margin-left: 230px;
    width: 100%;

    .progress {
      margin-top: 90px;
    }

    .student-content {
      width: 90%;
      margin: 30px auto 0;

      .content-header {
        width: 100%;

        .header-wrapper {
          width: 100%;
          height: 220px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: radial-gradient(
            circle,
            rgba(137, 61, 255, 1) 0%,
            rgba(185, 140, 255, 1) 100%
          );
          border-radius: 15px;
          box-shadow: rgb(137 61 255 / 34%) 0px 8px 16px 0px;

          .banner-wrapper {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .banner-img {
              width: 200px;
              height: 200px;
              margin-right: 20px;
            }
          }

          .header-content {
            width: 70%;
            color: white;

            .greetings {
              font-size: 16px;
              font-weight: 300;
            }

            .welcome {
              font-size: 30px;
              font-weight: 600;
              text-shadow: 1px 1px 1px #111;
            }

            .sub-heading {
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }

      .content-body {
        display: flex;
        width: 100%;
        margin-top: 30px;

        .right-body {
          width: 50%;
          margin: 10px 0px;
          background-color: transparent;
          border-radius: 10px;
          box-shadow: rgb(153 153 153 / 34%) 0px 8px 16px 0px;

          .right-header {
            display: flex;
            justify-content: space-between;
            margin: 20px 20px 10px;

            .right-header-title {
              font-weight: 500;
              font-size: 18px;
              padding-left: 15px;
              padding-top: 20px;
            }

            .route-btn {
              outline: none;
              border: none;
              padding: 5px 12px;
              background: transparent;
              color: #aa7af0;
              border-radius: 5px;
              font-size: 12px;
              cursor: pointer;
              transition: 0.2s ease-in-out;
              margin-right: 15px;
              margin-top: 16px;

              &:hover {
                background: #aa7af0;
                color: white;
              }
            }
          }

          .right-content {
            width: 100%;
            display: flex;
            border-radius: 10px;
            margin-bottom: 10px;

            .right {
              width: 50%;
              margin: 15px;

              .report {
                width: 100%;
                margin: 10px 20px;

                .title {
                  font-size: 12px;
                  font-weight: 400;
                }

                .content {
                  font-size: 16px;
                }
              }
            }

            .left {
              width: 50%;
              margin: 15px;

              .report {
                width: 100%;
                margin: 10px 20px;

                .title {
                  font-size: 12px;
                  font-weight: 400;
                }

                .content {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .left-body {
          width: 50%;
          margin: 10px 20px;
          margin-right: 0px;
          background-color: transparent;
          border-radius: 10px;
          box-shadow: rgb(153 153 153 / 34%) 0px 8px 16px 0px;

          .left-header {
            display: flex;
            justify-content: space-between;
            margin: 20px 20px 10px;

            .left-header-title {
              font-weight: 500;
              font-size: 18px;
              padding-left: 15px;
              padding-top: 20px;
            }

            .route-btn {
              outline: none;
              border: none;
              padding: 5px 12px;
              background: transparent;
              color: #aa7af0;
              border-radius: 5px;
              font-size: 12px;
              cursor: pointer;
              transition: 0.2s ease-in-out;
              margin-right: 15px;
              margin-top: 16px;

              &:hover {
                background: #aa7af0;
                color: white;
              }
            }
          }

          .left-content {
            width: 100%;
            display: flex;

            .item-wrapper {
              display: flex;
              align-items: center;
              width: 100%;
              margin: 20px 30px;
              padding: 20px;
              -webkit-box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, 0.7);
              box-shadow: -2px 4px 10px 1px rgba(201, 201, 201, 0.7);

              .img-wrapper {
                width: 75px;
                margin-top: 5px;

                .item-avatar {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                }
              }

              .item-content {
                width: calc(100% - 130px);
                margin-top: 3px;
                margin-right: 10px;

                .eval-name {
                  font-size: 12px;
                  font-weight: 500;
                }

                .notif-details {
                  font-size: 12px;
                  font-weight: 300;
                }
              }

              .item-detail {
                width: 50px;
                align-self: flex-start;
                margin-top: -2px;

                .time {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }

    .content-footer {
      width: 90%;
      padding: 20px;
      margin: 30px auto;
      box-shadow: rgb(153 153 153 / 34%) 0px 8px 16px 0px;
    }
  }
}
