.navbar-main {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 14px;

  .navbar-wrapper {
    width: calc(100% - 270px);
    position: fixed;
    top: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    &.active {
      background: rgba(137, 61, 255, 0.25);
      backdrop-filter: blur(8px);
      z-index: 10;

      .navbar-icons {
        color: #ffffff;
      }
    }

    .navbar-menu {
      display: flex;
      align-items: center;

      .menu-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .navbar-icons {
          font-size: 25px;
          cursor: pointer;
        }

        .navbar-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .notif-counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8px;
          font-weight: 500;
          position: absolute;
          top: -3px;
          right: -3px;
        }
      }
    }
  }
}
