.sidebar-main {
  width: 230px;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;

  .sidebar-top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-logo {
      font-size: 20px;
      font-weight: bold;
      color: #637381;
      cursor: pointer;

      .img-logo {
        height: 80px;
        width: auto;
      }
    }
  }

  .sidebar-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: calc(100% - 20px);
      height: 50px;
      margin: 10px 15px;
      padding: 10px;
      border-radius: 12px;
      background-color: rgba(145, 158, 171, 0.12);

      .sidebar-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      .header-name {
        font-size: 16px;
        color: black;
      }
    }
  }

  .sidebar-center {
    ul {
      list-style: none;
      margin: 10px 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: rgb(99, 115, 129);
        margin: 15px 0px 0px 15px;
      }

      a {
        &.active {
          .sidebar-dashboard,
          .sidebar-user,
          .sidebar-setting,
          .sidebar-evaluator,
          .sidebar-forum,
          .sidebar-log,
          .sidebar-logout {
            background-color: rgba(137, 61, 255, 0.2);
            border-right: 3px solid rgb(137, 61, 255);
          }
          .sidebar-icons {
            color: #893dff;
          }
          .sidebar-name {
            font-weight: 500;
            color: rgb(137, 61, 255);
          }
        }
      }

      .sidebar-dashboard,
      .sidebar-user,
      .sidebar-setting,
      .sidebar-evaluator,
      .sidebar-forum,
      .sidebar-forum,
      .sidebar-logout {
        margin: 5px 0;
      }

      li, .sidebar-items {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        color: #1f1f1f;

        &.collapsible {
          width: 100%;
          flex-wrap: wrap;
        }

        &:hover {
          background-color: #ece8ff;
        }

        .collapse__menu {
          z-index: 999;
          display: flex;
          flex-direction: column;
          padding: 2px 20px;

          .collapse__sublink {
            color: #999;
            font-size: 14px;
            cursor: pointer;

            &:hover{
              color: black;
            }

            &.active {
              color: yellow;
            }
          }
        }

        .sidebar-icons {
          font-size: 18px;
          margin-left: 5px;
          color: rgb(99, 115, 129);
        }

        .sidebar-name {
          font-size: 14px;
          font-weight: 400;
          color: #888;
          margin-left: 10px;
        }

        .close {
          margin-left: 90px;
          font-size: 16px;
        }
      }
    }
  }

  .sidebar-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .time-container {
      text-align: center;
      font-size: 34px;
      font-weight: 500;
      color: gray;

      .greetings {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: rgb(99, 115, 129);
      }

      .current-time {
        text-shadow: -3px 2px 2px lightgray;
      }
    }
  }
}
