.sidebar-main {
  width: 230px;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;

  .sidebar-top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-logo {
      font-size: 20px;
      font-weight: bold;
      color: #637381;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .sidebar-center {
    ul {
      list-style: none;
      margin: 10px 0;
      padding: 0;

      .sidebar {
        &.active {
          background-color: rgba(137, 61, 255, 0.2);
          border-right: 3px solid rgb(137, 61, 255);
        }
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        color: #1f1f1f;

        &:hover {
          background-color: #ece8ff;
        }

        .sidebar-icons {
          font-size: 18px;
          margin-left: 5px;
          color: #637381;

          &.active{
            color: rgb(137, 61, 255);
          }
        }

        .sidebar-name {
          font-size: 16px;
          font-weight: 400;
          color: #888;
          margin-left: 10px;

          &.active{
            font-weight: 500;
            color: rgb(137, 61, 255);
          }
        }
      }
    }
  }

  .sidebar-bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      height: 20px;
      width: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
