.data-table{
  width: calc(100% - 150px);
  height: 640px;
  padding: 20px;
  margin: auto;

  .datacell-img {
    display: flex;
    align-items: center;

    .data-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  .cell-status {
    padding: 7px 20px;
    border-radius: 5px;
    text-align: center;
  }

  .action-cell {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}