.app.dark {
  background: #1d1d1d;
  color: rgb(155, 155, 155);

  .chart-grid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table-main {
    background: #111;
    color: rgb(155, 155, 155);

    .table-cell {
      background: #111;
      color: rgb(155, 155, 155);
    }
  }

  .navbar-main {
    color: #999;
    border-color: #333;

    .navbar-search {
      border-color: gray;
    }

    .dropdown {
      background: #1d1d1d;

      .dropdown-item {
        color: rgb(155, 155, 155);

        &:hover {
          background-color: rgba(137, 61, 255, 0.2);
        }
      }
    }
  }

  .sidebar-main{
    background-color: #111;
    border-color: #333;

    .sidebar-top{
      .sidebar-logo{
        color: #999;
      }
    }

    .sidebar-header{
        .header-name{
          color: #999;
        }
    }

    ul{
      li{
        &:hover{
          background-color: rgba(137, 61, 255, 0.2);
        }
        .sidebar-icons{
          color: #999;

          .sidebar-name {
            &:hover {
              color: rgb(137, 61, 255);
            }
          }
        }
      }
    }

    .sidebar-bottom {
      .greetings{
        color: #999;
      }
    }
  }

  .data-table{
    color: gray;
    .data-grid{
      color: gray;
      border: none;

      .list-btn, .cell-status{
        color: gray;
        border: none;
      }
    }
  }
  input {
    background-color: transparent;
    color: white;
    outline: none;
  }
}
